<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Chat</title>   
</head> 
<body>     
    <div id="message_output">
        <ul ng-repeat="message in messages">
            <li>{{message.username}} {{message.text}}</li>
        </ul>
    </div>
    
    <label for="chatTextArea">Meddelande</label>
    <textarea ng-model="myMessage" id="chatTextArea" class="form-control"></textarea>
    <button type="button" ng-click="sendMessage()" class="btn btn-primary">Skicka</button>

    <a href="#/" class="linkBack">Tillbaka</a>
         
</body>
</html>
